[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bcdata"]
	path = bcdata
	url = https://github.com/bcgov/bcdata
[submodule "bcmaps"]
	path = bcmaps
	url = https://github.com/bcgov/bcmaps
[submodule "fasstr"]
	path = fasstr
	url = https://github.com/bcgov/fasstr
[submodule "ssdtools"]
	path = ssdtools
	url = https://github.com/bcgov/ssdtools
